name: Refresh profile data
on:
  schedule:
    - cron: "0 1 * * *" 
  workflow_dispatch:
  push:
    branches:
    - master
jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            images/snk/github-contribution-grid-snake.svg
            images/snk/github-contribution-grid-snake-dark.svg?palette=github-dark
      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - uses: sarisia/actions-readme-feed@v1
        with:
          url: 'https://blog.glinboy.com/feeds/posts/default'
          file: 'README.md'
          format: '- ${monthshort}. ${02day}, ${year} - [${title}](${url})'
      - name: Commit & Push
        run: |
          rm -rf images/profile-3d-contrib/
          mv -f profile-3d-contrib images/
          git config user.name "GLinBoy's GitHub Action"
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "⚙️ GITHUB ACTION: Updated contribution grid snake"
          git push
